.cc-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.cc-input__input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 0px 12px 10px -9px rgba(0,0,0,0);
    transition: box-shadow 0.3s ease-in-out
}

.cc-input__input:active, .cc-input__input:focus {
    box-shadow: 0px 12px 10px -9px rgba(0,0,0,0.6);
    outline: none;
}

.cc-input__label {
    font-size: 16px;
    color: black
}