.credit-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 460px) and (min-width: 400px) {
  .credit-card {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .credit-card {
    width: 95%;
  }
}
